.layout{
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    min-height: 100vh;
    grid-template-areas:
        "header header"
        "sidebar maincontent"
        "footer footer";
}
.header{
    grid-area: header;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    
}
.sidebar{
    grid-area: sidebar;
    background-color: lightgray;
    padding: 10px;
}
.maincontent{
    grid-area: maincontent;
    background-color: white;
    padding: 10px;
}
.footer{
    grid-area: footer;
    background-color: lightblue;
    padding: 10px;
    text-align: center;
}
body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
@media screen 
and (max-width: 600px) {
    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "header"
            "sidebar"
            "maincontent"
            "footer";
    }
    
}