body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f8;
}

/* Header */
.header{
    background:#2874f0;
    color:white;
    padding:1rem;
    text-align:center;
}

/* Layout */
.layout{
    display:flex;
    min-height:calc(100vh - 70px);
}

/* Sidebar */
.sidebar{
    width:220px;
    background:#222;
    color:white;
    padding:1rem;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:10px 0;
}

.sidebar a{
    color:white;
    text-decoration:none;
}

.sidebar a:hover{
    color:#ff9f00;
}

/* Main Content */
.maincontent{
    flex:1;
    padding:2rem;
    background:white;
}
